body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

header {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: left;
}

.app-name {
  font-size: 28px;
  font-weight: bold;
  background-color: red;
  background-image: linear-gradient(0.25turn, #50b9ff, #0099ff, #50b9ff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#app-container {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tsparticles {
  height: 100vh;
  width: 100vw;
  z-index: -100;
}

h1 {
  text-align: center;
  color: #333;
}

#upload-section {
  margin-bottom: 20px;
  text-align: center;
}

#upload-btn {
  padding: 30px 40px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background-color: #3db5ff;
  /* background-color: linear-gradient(0.25turn, #3db5ff, #000000, #FFFFFF); */
  color: #fff;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

#upload-btn:hover {
  background-color: #0099ff;
  /* Change the color on hover */
}
/* 
#score-section {
  text-align: center;
}

#feedback-section {
  margin-top: 20px;
}

#feedback-list {
  list-style-type: none;
  padding: 0;
} */


.feedback-item {
  margin-bottom: 10px;
}

.nav-links {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-link {
  margin: 0 15px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:last-child {
  margin-right: 50px; /* Adjust the margin between "Developers" and the right side */
}

.nav-link:hover {
  color: #00a6ff;
}

.nav-bar {
  display: flex;
  align-items: center;
}